
/* Color Variables */
:root {
  /* Light Mode Colors */
  --primary-color: #1b2147;
  --secondary-color: #5b64e8;
  --accent-color: #e74c3c;
  --text-color: #1b2147;
  --secondarytext-color: #ffffff;
  --bg-color: #f1f1f1;
  --info: #dddde0;
  
  /* Layout */
  --nav-width: 200px;
}

/* Dark Mode Overrides */
:root.darkmode {
  --text-color: #fafafa;
  --secondarytext-color: #000000;
  --bg-color: #121212;
  --info: #393c5a;
}

/* Layout & Structure */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 50px;
}

#data-info {
  width: 100%;
  max-width: 1400px; /* Match treemap width */
  padding: 20px 5% 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: var(--info);
  color: var(--text-color);
}

#tree-wrapper {
  width: 100%;
  position: relative;
}

#tree {
  width: 100%;
  height: auto;
  display: block;
}

/* Typography */
h1 {
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid var(--secondary-color);
}


/* Interactive Elements */
#backButton {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  border: none;
  background-color: var(--info);
  color: var(--text-color);
}

#backButton:hover {
  filter: brightness(90%) saturate(110%);
}

.darkmode-toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
}

/* Dark mode icon active state */
:root.darkmode .darkmode-toggle i {
  color: #f39c12;  /* Gold color for the icon when dark mode is enabled */
}

/* Tree Map Styles */
.node {
  stroke: var(--bg-color);
  stroke-width: 10px;
  rx: 12;
  ry: 12;
}

.node-label {
  font-size: 15px;
  fill: var(--secondarytext-color);
} 

.clickable-node:hover {
  /* clip path fixes stroke hover problem */
  clip-path: inset(10px round 8px);
  filter: brightness(90%) saturate(110%);
  transition: fill 0.5s ease;
}

:root.darkmode .clickable-node:hover {
  filter: brightness(90%) saturate(110%);
  transition: fill 0.5s ease;
}